pipeline/PL_INGESTION_MASTER.json
{
	"name": "PL_INGESTION_MASTER",
	"properties": {
		"activities": [
			{
				"name": "READ_CONNECTOR_CONFIG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_JSON",
						"type": "DatasetReference",
						"parameters": {
							"datalakeUrl": {
								"value": "@pipeline().globalParameters.datalakeUrl",
								"type": "Expression"
							},
							"tenantId": {
								"value": "@pipeline().globalParameters.tenantid",
								"type": "Expression"
							},
							"servicePrincipleId": {
								"value": "@pipeline().globalParameters.servicePrincipleId",
								"type": "Expression"
							},
							"secretName": {
								"value": "@pipeline().globalParameters.secretName",
								"type": "Expression"
							},
							"containerName": {
								"value": "@pipeline().globalParameters.containerName",
								"type": "Expression"
							},
							"folderPath": {
								"value": "@pipeline().globalParameters.connectorConfigPath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().globalParameters.connectorConfigFileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FILTER_SQL_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "READ_CONNECTOR_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('READ_CONNECTOR_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'sql')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_ADLS_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "READ_CONNECTOR_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('READ_CONNECTOR_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'adls')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_SHAREPOINT_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "READ_CONNECTOR_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('READ_CONNECTOR_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'sharepoint')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_ISCONNECTOR_ACTIVE_SQL_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FILTER_SQL_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_SQL_SOURCES').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().isConnectorActive,'true')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_ISCONNECTOR_ACTIVE_ADLS_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FILTER_ADLS_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_ADLS_SOURCES').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().isConnectorActive,'true')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_ISCONNECTOR_ACTIVE_SHAREPOINT_SOURCES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FILTER_SHAREPOINT_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_SHAREPOINT_SOURCES').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().isConnectorActive,'true')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ITERATE_SQL_SOURCES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_ISCONNECTOR_ACTIVE_SQL_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_ISCONNECTOR_ACTIVE_SQL_SOURCES').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ITERATE_ADLS_SOURCES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_ISCONNECTOR_ACTIVE_ADLS_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_ISCONNECTOR_ACTIVE_ADLS_SOURCES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_ADLS_DATA_INGESTION",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ADLS_DATA_INGESTION",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ITERATE_SHAREPOINT_SOURCES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_ISCONNECTOR_ACTIVE_SHAREPOINT_SOURCES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_ISCONNECTOR_ACTIVE_SHAREPOINT_SOURCES').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}